/admin/node_modules
/admin/public/hot
/admin/public/storage
/admin/storage/*.key
/admin/storage/dbdata
/admin/vendor
/admin/.env
/admin/.env.backup
/admin/.phpunit.result.cache
/admin/docker-compose.override.yml
/admin/Homestead.json
/admin/Homestead.yaml
/admin/npm-debug.log
/admin/yarn-error.log
/admin/.idea
/admin/.vscode


/main/node_modules
/main/public/hot
/main/public/storage
/main/storage/*.key
/main/storage/dbdata
/main/vendor
/main/.env
/main/.env.backup
/main/.phpunit.result.cache
/main/docker-compose.override.yml
/main/Homestead.json
/main/Homestead.yaml
/main/npm-debug.log
/main/yarn-error.log
/main/.idea
/main/.vscode
